/**************CNN*****************************
**HELPFUL_WEBSITES:**W3_SCHOOLS_CSS_SELECTOS***/

/*TEST FOR ASKING QUESTIONS AND RECEIVING DATA  --> WHy is ldo_rate not working */ 
[href*="sitemap.html"], [href*="webJavaScriptBooks.html"], [id*="fullstack_ad"] [src*="ldo_rate.jpg"]{
    display: block;
    border-style: dotted !important;
    border-width: 10px !important;
    border-color: yellow !important;
}

/*HOVER AD EFFECT */
[src*="fake_download_button_2.JPG"]:hover, [src*="https://tpc.googlesyndication.com/simgad/3730324607678836097"]:hover [src*="ldo_rate.jpg"]:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  cursor: pointer;
}
